* {
   box-sizing: border-box; 
}

body {
    margin:0 auto;
}

.main-container {
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    background-color:#ef89db;
    width:100vw;
    height:100vh;
    text-align: center;
    /* background-image: url(images/pixel-ds.png);
        background-size:1000px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size:contain; */
}

.top {
    display:flex;
    /* background-color:white; */
    text-align:center;
    justify-content:center;
}

.bottom {
    display:flex;
    /* background-color:white; */
    text-align:center;
    justify-content:space-between;
    flex-direction:column;
}

.top-title {
    text-align:center;
    font-family: Orbitron;
    font-size:50px;
    width:30vw;
    margin-bottom:50px;
    color:#c23ea8;
    animation:blink 2s infinite alternate;
    transition:2s;
}

@keyframes blink {
    0% {
        color:#c23ea8;
    }

    100% {
        color:#f3dfef
    }
}

a:link, a:visited {
    text-decoration: none;
    color:#c23ea8;
}

.bottom-title1 {
    text-align:center;
    font-family: Orbitron;
    padding-bottom:10px; 
    font-size:30px;
    color:#c23ea8;
    opacity:0;
    cursor:pointer;
}

.bottom-title2 {
    text-align:center;
    font-family: Orbitron;
    padding-bottom:10px; 
    font-size:30px;
    color:#c23ea8;
    opacity:0;
    cursor:pointer;
}


.start-btn {
    text-align:center;
    font-family: Orbitron;
    padding-bottom:10px; 
    font-size:30px;
    color:#c23ea8;
    opacity:1;
    /* background-color:white; */
    cursor:pointer;
}

.white {
    color:white;
}

.games-top {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

}

.games-bottom {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;

}

button {
    background-color:#b5459f;
    border:none;
    color:white;
    padding:10px;
    transition-duration:0.4s;
}

button:hover {
    background-color:white;
    color:black;
}