* {
    box-sizing: border-box;
}

body {
    background-color:lightblue;
    transition: background-color 1s;
}


.greeting {
    background-color:bisque;
    padding: 20px;
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.greeting:hover {
    background-color:greenyellow;
}

/* max-width media queries are desktop-first */

/* min-wdth media queries are mobile first */

@media screen and (max-width:900px) {
    body {
        background-color:coral;

    }

    .greeting {
        background-color:lightgreen;
        width:200px;
        height:200px;
        font-size: 20px;
    }
}

@media screen and (max-width:700px) {
    body {
        background-color:#576440;

    }

    .greeting {
        background-color:#c6b88d;
        width:300px;
        height:300px;
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    body {
        background-color:rgb(255, 80, 255);

    }

    .greeting {
        background-color:rgb(24, 227, 203);
        width:400px;
        height:400px;
        font-size: 40px;
    }
}