* {
    box-sizing: border-box;
}

body {
    background-color:#ccf4f7;
    font-family:monospace;
}

h1 {
    text-align:center;
    margin: 0 auto;
    background-color:#66b5bb;
    border-radius: 50px;
    font-size:40px;
    color:whitesmoke
}

.image-border {
    background-color:#77d490c6;
    padding:50px;
    border-radius: 50px;
    text-align:center;
    float:left;
    padding: 30px 30px 30px 30px;
    margin: 40px;

}


.back-home {
    background-color:#35ba59c6;
    position:fixed;
    padding:10px;
    top:10%;
    left:94%;
}

ol {
    color:#18842a
}

ul {
    color:#18842a
}

button {
    color:whitesmoke;
    background-color:#049e84;
    text-align:center;
    padding:10px;
}

body {
   padding-right:100px;
   padding-left:50px;
   color:#049e84;
   display:inline-block;
}


.gif {
    text-align:center;
    padding-top:20px;
}

.indexbody {
    padding-right:100px;
    padding-left:50px;
    color:#049e84;
}
