* {
    box-sizing: border-box;
}

body {
    margin:0;
    height:100%;
    min-height:100%;
    transition:1s;
}

a:link, a:visited {
    text-decoration: none;
    color:white;
}

.main-container {
    display:flex;
    background-color:black;
    flex-direction:column;
    justify-content:space-between;
    width:100vw;
    height:100vh;
    color:white;
    font-size:20px;
    transition:1s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-title {
    color:white;
    font-size:50px;
    position:absolute;
    z-index: 2;
    top:45vh;
    left:0;
    /* background-color:rgba(128, 128, 128, 0.421); */
    padding:10px;
    animation: slide infinite linear 10s;
    transition:1s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes slide {
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(350%)
    }
}

.pause {
    animation-play-state:paused;
}

.reverse-body {
    background-color:white;
    color:black;
    transition:1s;
}

.reverse-title {
    color:black;
    transition:1s;
}

.top {
    display:flex;
    /* background-color:orange; */
    width:100vw;
    height:50vh;
    justify-content:space-between;
}

.top-right {
    display:flex;
    /* background-color:rgb(193, 193, 174); */
    width:50vw;
    justify-content:space-evenly;
}

.alive {
    margin-top:15vh;
    height:200px;
    background-color:rgb(255, 242, 1);
    border-radius:100px;
    width:200px;
    text-align:center;
    padding:50px;
    
}

.aliveaction {
    border-radius:0;
    animation: wiggle 1s infinite alternate linear; 
}

@keyframes wiggle {
    0%{
        border-radius:0;
    }
    100% {
        border-radius:100px;

    }
}

.hopeful {
    margin-top:15vh;
    height:200px;
    background-color:rgb(255, 242, 1);
    padding:50px;
    border-radius:100px;
    width:200px;
    text-align:center;
}

.hopefulaction {
    animation:grow 3s;
}

@keyframes grow {
    0%{
        height:200px;
    }
    100%{
        height:400px;
    }
}

.top-left {
    display:flex;
    /* background-color:rgb(211, 59, 59); */
    width:50vw;
    justify-content:space-evenly;
}

.enraged {
    margin-top:15vh;
    height:200px;
    background-color:red;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
    animation: none;
    transition:2s;
}

.enragedaction {
    border-radius:15px;
    transform:rotate(45deg);
    box-shadow: 0 0 0 30px rgb(255, 0, 0),  
    0 0 0 60px rgb(224, 114, 83), 
    0 0 0 100px rgb(224, 83, 83), 
    0 0 0 120px rgb(226, 82, 82),  
    0 0 0 200px rgb(214, 37, 37), 
    0 0 0 400px rgb(165, 27, 27),  
    0 0 0 450px rgb(235, 63, 63); 
}

.invisible {
    opacity:0;
    transition:2s;
}

@keyframes pulse {
    0% {
        transform:scale(0.75);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.7);
        opacity:1;
    }
    70% {
        transform:scale(1);
        box-shadow: 0 0 0 10px rgba(0,0,0,0);
        opacity:0.5;
    }
    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
        opacity:1;
    }
}

.anxious {
    margin-top:15vh;
    height:200px;
    background-color:red;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
    transform:scale(1);
}

.anxiousaction {
    animation: pulse 2s infinite linear;
}

.bottom {
    display:flex;
    /* background-color:yellow; */
    width:100vw;
    height:50vh;
    justify-content:space-between;
}

.bottom-right {
    display:flex;
    /* background-color:rgb(0, 255, 55); */
    width:50vw;
    justify-content:space-evenly;
}

.empathy {
    margin-top:15vh;
    height:200px;
    background-color:green;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
    transition:2s;
}

.empathyaction {
    box-shadow: 0 0 0 30px rgb(13, 255, 0),  
    0 0 0 60px rgb(83, 224, 99), 
    0 0 0 100px rgb(83, 224, 111), 
    0 0 0 120px rgb(111, 226, 82),  
    0 0 0 200px rgb(37, 214, 81), 
    0 0 0 400px rgb(27, 165, 27),  
    0 0 0 450px rgb(77, 235, 63); 
}


.comfortable {
    margin-top:15vh;
    height:200px;
    background-color:green;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
}

.comfortableaction {
    animation: color1 2s infinite alternate linear;
}

@keyframes color1 {
    0%{
        background-color:green;
    }
    50%{
        background-color:rgb(147, 192, 147);
    }
    100%{
        background-color:greenyellow;
    }
}

.bottom-left {
    display:flex;
    /* background-color:rgb(72, 72, 184); */
    width:50vw;
    justify-content:space-evenly;
}

.grieving {
    margin-top:15vh;
    height:200px;
    background-color:blue;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
}

.grievingaction {
    animation: color 2s alternate infinite;
}

@keyframes color {
    0%{
        background-color:blue;
    }
    100%{
        background-color:rgb(1, 1, 69);
    }
}

.lonely {
    margin-top:15vh;
    height:200px;
    background-color:blue;
    border-radius:100px;
    padding:50px;
    width:200px;
    text-align:center;
}

.lonelyaction {
    animation:shrink 4s;
}

@keyframes shrink {
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(0.25);
    }
}


/* beginning now is the css for the emotion subpages */

.emotion-main-container {
    /* background-color:black; */
    background-image: url(images/bulletbackground.png);
        background-size:500px;
        background-repeat:repeat;
    height:100%;
    display:flex;
    text-align:left;
    color:black;
    /* margin-left:20px; */
    /* margin-top:20px; */
    gap:15px;
}


.left {
    display:flex;
    margin-left:20px;
    height:100vh;
    width:50vw;
    /* background-color:red; */
    flex-direction:column;
}

.definition {
    height:33vh;
    /* background-color:rgb(0, 0, 0); */
    display:flex;
    flex-direction:column;
}

.home {
    background-color:rgba(0, 0, 0, 0.531);
    text-align:center;
    font-size:20px;
    padding:10px;
    margin-top:30px;
    font-family: "Timeless";
}

.active-home {
    background-color:rgb(0, 0, 0);
    transition:1s;
}

.title {
    font-size:80px;
    font-family: "Cute Notes", "Verdana";
}

.words {
    font-size:30px;
    font-family: "Weekly Planner", "Verdana";
}

@font-face {
    font-family: "Cute Notes";
    src: url("fonts/cute_notes/Cute\ Notes.ttf");
    src: url("fonts/cute_notes/Cute\ Notes.ttf") format('truetype');
    font-weight:100px;
    font-style:normal;
}

@font-face {
    font-family: "Weekly Planner";
    src: url("fonts/WEEKLY\ PLANNER\ .otf");
    src: url("fonts/WEEKLY\ PLANNER\ .otf") format('opentype');
    font-weight:100px;
    font-style:normal;
}

.stickers {
    height:20vh;
    /* background-color:black; */
}

.journal {
    height:35vh;
    background-color:white;
    font-size:20px;
    background-image: url(images/notebook-paper.png);
        background-size: contain;
    font-family: "Timeless", "monospace";
}

@font-face {
    font-family: "Timeless";
    src: url("fonts/timeless/Timeless.ttf");
    src: url("fonts/timeless/Timeless.ttf") format('truetype');
    font-weight:100px;
    font-style:normal;
}

.right {
    display:flex;
    height:100vh;
    width:50vw;
    /* background-color:white; */
    flex-direction:column;
    margin-right:10px;
}

.colors {
    height:40vh;
    /* background-color:black; */
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    text-align:center;
    margin-top:10px;
}

.enraged-color-one {
    background-color:rgb(106, 0, 0);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:30px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.enraged-color-two {
    background-color:rgb(51, 8, 8);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:30px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.enraged-color-three {
    background-color:rgb(255, 0, 0);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:30px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.anxious-color-one {
    background-color:rgb(227, 208, 208);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.anxious-color-two {
    background-color:rgb(186, 255, 205);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.anxious-color-three {
    background-color:rgb(221, 255, 9);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.grieving-color-one {
    background-color:rgb(0, 24, 89);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.grieving-color-two {
    background-color:rgb(2, 8, 116);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.grieving-color-three {
    background-color:rgb(9, 58, 255);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.comfortable-color-one {
    background-color:rgb(242, 238, 3);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.comfortable-color-two {
    background-color:rgb(226, 151, 32);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.comfortable-color-three {
    background-color:rgb(255, 173, 21);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.lonely-color-one {
    background-color:rgb(188, 202, 243);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.lonely-color-two {
    background-color:rgb(187, 188, 198);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.lonely-color-three {
    background-color:rgb(65, 98, 229);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.alive-color-one {
    background-color:rgb(28, 168, 28);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.alive-color-two {
    background-color:rgb(234, 255, 5);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.alive-color-three {
    background-color:rgb(111, 229, 65);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.hopeful-color-one {
    background-color:rgb(192, 246, 192);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.hopeful-color-two {
    background-color:rgb(255, 218, 5);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.hopeful-color-three {
    background-color:rgb(229, 221, 65);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.empathy-color-one {
    background-color:rgb(249, 109, 244);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.empathy-color-two {
    background-color:rgb(197, 5, 255);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:40px;
}

.empathy-color-three {
    background-color:rgb(161, 229, 65);
    width:200px;
    height:200px;
    border-width:1px;
    border-bottom-width:13px;
    border-color:white;
    border-style:solid;
    margin-top:50px;
}

.poetry {
    height:50vh;
    background-color:white;
    /* color:black; */
    padding:10px;
    /* border-color:rgb(223, 201, 201); */
    /* border-style:solid; */
    /* border-width:3px; */
    /* border-top-width:20px; */
    font-family: 'EB Garamond', serif;
    font-size:20px;
    background-image: url(images/miffynotebook.png);
        background-size:contain;
}

.scrollable {
    height:85vh;
    overflow-y:scroll;
}

/* this section is just for the tape decor on top */

.abs {
    position:absolute;
}

.tape1 {
    top:50vh;
    left:47vw;
}

.tape2 {
    top:78vh;
    left:45vw;
    transform: rotate(90deg);
}

.tape3 {
    top:20vh;
    right:0vw;
    transform: rotate(180deg);
}

.tape4 {
    top:51vh;
}

.tape5 {
    top:30vh;
    left:45vw;
}

.tape6 {
    top:10vh;
    left:80vw;
}

.tape7 {
    top:2vh;
   right:10vw;
}

.tape8 {
    top:50vh;
    left:46vw;
}

.tape9 {
    top:38vh;
    left:20vw;
}

.tape10 {
    bottom:0vh;
}

.tape11 {
    top:80vh;
    left:20vw;
}

.tape12 {
    left:55vw;
}

.tape13 {
    right:0vw;
}

.tape14 {
    left:45vw;
    top:30vh;
}

.tape15 {
    bottom:0;
    right:0;

}

.tape16 {
    left:80vw;
}